<div class="generator">
    <div class="view">
    <div class="stanje">
        <label>Stanje: {{gen.stanje}}</label>
    </div>
    <div class="sdiv">
    <label>Senzor 1:</label>
    <div class="senzor" [ngStyle]="{backgroundColor: gen.senzor1?'green':'red'}">

    </div>
    </div>
    <div class="sdiv">
    <label>Senzor 2:</label>
    <div class="senzor" [ngStyle]="{backgroundColor: gen.senzor2?'green':'red'}">

    </div>
    </div>
    </div>

    <h1 class="green" *ngIf="done">
        USPESNO ZAKAZANA OPERACIJA
    </h1>

    <div class="oper-form" *ngIf="user=='upravljac'">
        <label>Vreme operacije: </label>
        <input type="datetime-local" [(ngModel)]="time">
        <button class="btn" (click)="runOperatoion()">Pokreni</button>
    </div>

</div>